# Logs
logs
*.log
pnpm-debug.log*

# misc
node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Nested dist folders
**/cache 
**/build
**/node_modules


format.vue

# lock files
package-lock.json
yarn.lock
pnpm-lock.yaml