* {
    box-sizing: border-box;
    margin: 0;
}

pre {
    font-family: monospace;
}

html,
body,
a,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
table {
    font-family: Helvetica, Arial, sans-serif;
}

@mixin forSmallScreens($media) {
    @media (max-width: $media+px) {
        @content;
    }
}

@mixin centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ve-table-wrapper {
    width: 100%;
    // background: #f4f4f5;
    box-shadow: 0 0 4px rgb(182, 181, 181);
    font-size: 10pt;
    display: grid;
    grid-template-rows: 64px auto auto;
    padding: 4px;
    @include forSmallScreens(640) {
        grid-template-rows: 240px auto auto;
        width: 100%;
    }
    &-no-header {
        grid-template-rows: auto auto;
    }
    &-dense {
        .ve-table {
            tr {
                height: 32px;
                @include forSmallScreens(640) {
                    height: fit-content;
                }
            }
        }
    }
    &-striped {
        tbody tr:nth-of-type(odd) {
            background-color: rgba(0, 0, 0, .05);
        }
        td,
        th {
            padding-left: 10px;
            border: none;
        }
    }
    &-bordered {
        table {
            border-collapse: collapse;
        }
        td,
        th {
            padding-left: 10px;
            border: thin solid rgba(0, 0, 0, .12);
        }
    }
}

.ve-table {
    width: 100%;
    border-spacing: 0;
    padding: 12px;
    display: table;
    color:#444;
    
    thead {
        color: rgba($color: #000000, $alpha: 0.5);
        font-size: 10pt;
        font-weight: lighter;
        tr {
            height: 48px;
            text-align: start;
        }
        th {
            // padding: 4px;
            text-align: start;
            border-bottom: thin solid rgba($color: #000000, $alpha: 0.12);
            .ve-table-head-cell {
                display: grid;
                grid-template-columns: auto 24px;
                align-items: center;
                width: fit-content;
                &-sorted {
                    color: #444;
                }
                svg {
                    margin-left: 4px;
                    cursor: pointer;
                    width: auto;
                    fill: #444;
                }
                &-sortable:hover {
                    color: #444;
                    cursor: pointer;
                    svg {
                        fill: #444;
                        margin-left: 4px;
                        display: block;
                    }
                }
            }
        }
    }
    &-sort-none {
        svg {
            display: none;
            transition: all .5s;
            &:hover {
                display: block;
            }
        }
    }
    &-sort-desc {
        svg {
            transition: all .5s;
            transform: rotate(180deg);
        }
    }
    &-sort-asc {
        svg {
            transition: all .5s;
            transform: rotate(0deg);
        }
    }
}

tbody {
    tr {
        height: 48px;
        text-align: start;
    }
    &.ve-table-row {
        &-item {
            backface-visibility: hidden;
        }
        &-expand {
            &-icon {
                cursor: pointer;
                transition: all .5s ease;
                &-open {
                    transform: rotate(90deg);
                    transition: all .5s ease;
                }
            }
            td {
                text-align: start!important;
            }
        }
    }
}

th,
td {
    border-bottom: thin solid rgba($color: #000000, $alpha: 0.12);
    padding: 10px;
}

.ve-icon {
    cursor: pointer;
}


/************/

.ve-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 18px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.ve-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom checkbox */

.ve-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    border: 2px solid #777;
}


/* Create the ve-checkmark/indicator (hidden when not checked) */

.ve-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the ve-checkmark when checked */

.ve-checkbox input:checked~.ve-checkmark:after {
    display: block;
}


/* Style the ve-checkmark/indicator */

.ve-checkbox .ve-checkmark:after {
    left: 4px;
    top: -5px;
    width: 6px;
    height: 12px;
    border: solid #777;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.ve-checkbox .ve-checkmark-minus:after {
    left: 2px;
    top: 5px;
    width: 8px;
    border-width: 3px 0 0 0;
    transform: rotate(0);
}

@media screen and (max-width: 640px) {
    table {
        border: 0;
    }
    table thead {
        display: none;
    }
    table tbody {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    table tr {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        -webkit-box-shadow: 0 0 4px #bebebe;
        box-shadow: 0 0 4px #bebebe;
        height: 100%;
        width: 100%;
        align-items: stretch;
    }
    table td {
        display: block;
        text-align: right;
        padding: 10px;
        // font-size: 13px;
        // border-bottom: 1px dotted #ccc;
    }
    table td:last-child {
        border-bottom: 0;
    }
    table td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }
}


/***********************/


/***********************/


/**********header*************/


/***********************/


/***********************/

.ve-table-outer-header {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    @include forSmallScreens(640) {
        flex-direction: column;
        height: fit-content;
        &>div,
        &>h4 {
            margin-bottom: 4px;
        }
    }
    &-icons {
        width: 96px;
        display: flex;
        justify-content: space-between;
     svg{
        fill:#444
     }
    }
}

.drop-enter-active,
.drop-leave-active {
    transition: all 0.5s ease-out;
    max-height: 400px;
    //   max-width: 280px;
}

.drop-enter,
.drop-leave-to
/* .drop-leave-active below version 2.1.8 */

{
    max-height: 0;
    opacity: 0;
    //   max-width: 0;
    transform: translateY(-200px);
    transform: scaleY(0);
}

.ve-custom-columns {
    position: absolute;
    right: 32px;
}

.ve-dropdown {
    position: absolute;
    width: 280px;
    color: #2c3e50;
    right: 0;
    z-index: 20;
    .ve-card {
        background: white;
        width: 280px;
    }
}

.ve-custom-columns-list {
    display: grid;
    grid-gap: 4px;
    grid-template-columns: auto;
    &-item {
        text-align: start;
        padding: 4px;
        display: grid;
        grid-gap: 4px;
        grid-template-columns: 24px auto;
    }
}

.ve-input-search-wrap {
    @include forSmallScreens(640) {
        flex-direction: column;
        height: 100%;
    }
    @include centered();
    justify-content: space-between;
}

.ve-input-search {
    display: flex;
    align-items: center;
}

.ve-input-search-box {
    width: 280px;
    @include forSmallScreens(640) {
        width: 240px;
    }
}

.ve-input-search-box,
.ve-input-select {
    &::placeholder {
        color: #aaa;
    }
    max-width: 256px;
    color: #635e5e;
    display: block;
    height:32px;
    padding:6px 10px;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border-radius: 6px 0 0 6px;
    border: thin solid #b8b6b6;
    border-right:none;
    transition: border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
    &:focus {
        outline: none;
        box-shadow: 0 0 4px #b8b6b6;
    }
    &-append {
        // background: rgba(81, 81, 81, .5);
        border-radius: 0 4px 4px 0;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        margin-left: -42px;
        @include centered();
        cursor: pointer;
        svg {
            fill: #777;
        transform: scale(.8);
        }
    }
}
.ve-input-search-box{
    border-radius:  0 6px  6px 0;
    border-right: thin solid #b8b6b6;
    border-left:none;
}