
// #0161e3
@mixin forSmallScreens($media) {
    @media (max-width: $media+px) { @content; }
}
/*
@font-face{
    src: url(https://raw.githubusercontent.com/boussadjra/vueye-table/master/src/components/fonts/Comfortaa-Light.ttf);
    font-family: "Comforta";
    }*/



    .vet-container{
        
        border-radius: 4px;
        width: 100%;
        height:auto;
       
        background:#fff;
        color: #666;
    }

    .vet-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        padding:0px 20px 0 20px;
        
    // box-shadow: 0px 1px 5px #444;
    @include forSmallScreens(640){
        flex-direction: column;
        &>div{
            margin-bottom: 10px;
        }
        
    }
    
}

.vet-header-search-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    width:60%;
    @include forSmallScreens(640){
        width:80%;
    }
    .vet-header-search{
        
       border-radius:22px;
       border:1px solid #d2c7c7;
       
       padding: 8px;
       width: 340px;
       background: transparent;
       @include forSmallScreens(640){
        width:200px;
    }
    &:focus{
        outline: none;
        border:1px solid;
    }
    &[placeholder]{
        color:inherit;
    }
}


}
::placeholder{
    color: inherit;
    font-family:inherit;
}

.vet-header-btns,.vet-footer-pagination{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    .v-icon{
        margin-right: 10px;
    }
    
}

.icon{
    cursor: pointer;
}


table {
    font-weight: 300;
    border-collapse: collapse;
    width: 100%;
}

thead{  padding: 8px;}

.tab-head-cell{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    .tab-head-cell-icons{
        display: flex;
        flex-direction: column;
        align-items:center;
        .down-icon{
            margin-top: -5px
        }
    }
    &>span{
        margin-right: 10px; 
    }
    
}
tr{
    cursor: pointer;
    
}




td{font-size: 11pt;padding: 10px; }
th{padding: 15px;
    text-transform: uppercase;

}
td, th {
    text-align: center;
}


.vet-footer{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    
    padding:20px;
    
    font-size: 11pt; 
    
    // box-shadow: 0px -1px 5px #444;
    &>div{
        margin-right: 35px;
    }
    select{
        
        border-radius: 4px;
        padding: 4px;
    }
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 18px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 12px;
    width: 12px;
    border-radius: 4px;
    border: 2px solid;
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 3px;
    top: 0px;
    width: 3px;
    height: 8px;
    border: solid currentColor;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



@media screen and (max-width: 640px) {
    
    table { border: 0; }
    
    table thead { display: none; }
    
    table tr {
        margin-bottom: 10px;
        display: block;
        box-shadow: 0 0 10px #000;
        
    }
    
    table td {
        display: block;
        text-align: right;
        font-size: 13px;
        // border-bottom: 1px dotted #ccc;
    }
    
    table td:last-child { border-bottom: 0; }
    
    table td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }
    
}

.icon{
    width: 24px;
    height: 24px;
    background-size: 24px;
    background-repeat: no-repeat;
    
  }
  .fa-icon {
    cursor: pointer;
    width: auto;
    height: 1em; /* or any other relative font sizes */
    
    /* You would have to include the following two lines to make this work in Safari */
    max-width: 100%;
    max-height: 100%;
  }